.container {
  max-width: 1600px;
  margin: 0 auto;
}

.theme__toggle-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid var(--border-strong);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s;
  background-color: var(--bg-btn);
}

.theme__toggle-btn:hover {
  background-color: var(--bg-btn2);
}