@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li,
ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
}

button {
  cursor: pointer;
}

body {
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  letter-spacing: -0.02em;
  color: var(--text-color);
  background-color: var(--bg-color);
}

body.is-locked {
  overflow: hidden;
  touch-action: none;
}