:root {
  --mainfont: "Pretendard Variable", Pretendard, sans-serif;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-green: #40c057;
  --color-red: #fa5252;

  --color-gray-50: #f8f9fa;
  --color-gray-100: #f1f3f5;
  --color-gray-200: #e9ecef;
  --color-gray-300: #dee2e6;
  --color-gray-400: #ced4da;
  --color-gray-500: #adb5bd;
  --color-gray-600: #868e96;
  --color-gray-700: #495057;
  --color-gray-800: #343a40;
  --color-gray-900: #212529;

  --color-brand-500: #364fc7;
  --color-brand-600: #2f44b2;
  --color-brand-900: #2D3447;
}

:root[data-theme="light"] {
  /* 배경 */
  --bg-base: var(--color-white);
  --bg-sub: var(--color-gray-200);
  --bg-surface: var(--color-gray-100);
  --bg-inverse: var(--color-gray-900);

  /* 텍스트 */
  --text-primary: var(--color-gray-900);
  --text-secondary: var(--color-gray-700);
  --text-inverse: var(--color-gray-100);
  --text-disabled: var(--color-gray-600);

  /* 보더 */
  --border-default: var(--color-gray-200);
  --border-strong: var(--color-gray-800);

  /* 액션 */
  --action-primary: var(--color-brand-500);
  --action-primary-hover: var(--color-brand-600);

  --action-secondary: var(--color-gray-300);
  --action-secondary-hover: var(--color-gray-400);

  --action-neutral: var(--color-gray-700);
  --action-neutral-hover: var(--color-gray-600);
}

:root[data-theme="dark"] {
  /* 배경 */
  --bg-base: #121212;
  --bg-sub: var(--color-gray-900);
  --bg-surface: #1e1e1e;

  /* 텍스트 */

  /* 보더 */

  /* 액션 */

}