:root {
  --mainfont: "Pretendard Variable", Pretendard, sans-serif;

  --bg-color: #ffffff;
  --text-color: #000000;
  --text-color2: #6f6f6f;
  --header-bg: #FAFAFA;

  --black: #000;
  --black100: #1b1b1b;
  --black200: #3a3a3a;
  --black300: #6b6b6b;
  --black400: #9c9c9c;
  --black500: #cbcbcb;

  --white: #fff;
  --white100: #e7e7e7;
  --white200: #cacaca;
  --white300: #b8b8b8;
  --white400: #8e8e8e;
  --white500: #767676;

  font-family: var(--mainfont);
}