.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  transition: transform 0.3s ease;
  border-right: 1px solid var(--border-default);
}

.sidebar__inner {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--text-primary);
  height: 100%;
  padding: 0 2rem;
}

.sidebar__header {
  border-bottom: 1px solid var(--border-default);
  margin-bottom: 25px;
  height: 8vh;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.sidebar__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 26px;
}

.sidebar__logo-box {
  width: 32px;
  height: 32px;
  color: var(--text-inverse);
  background-color: var(--bg-inverse);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.2rem;
  position: relative;
}

.sidebar__logo-box::after {
  content: "D";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidebar__menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 25px;
}

.sidebar__menu-item a {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  gap: 7px;
  cursor: pointer;
  position: relative;
}

.sidebar__menu-item a:hover {
  transition-duration: 0.2s;
}

.sidebar__menu-item a.sidebar__active {
  color: var(--action-primary);
  font-weight: 600;
}

.sidebar__menu-item a.sidebar__active::before {
  transform: translateY(-50%) scaleY(1);
  background-color: var(--action-primary);
}

.sidebar__menu-item a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) scaleY(0);
  width: 4px;
  height: 50%;
  background-color: var(--action-primary);
  border-radius: 0 4px 4px 0;
  transition: transform 0.2s ease;
}

.sidebar__menu-item a:hover::before {
  transform: translateY(-50%) scaleY(1);
}

.sidebar__menu-item a svg {
  font-size: 1.2rem;
}


.sidebar__tag-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 25px;
  /* border-top: 1px solid var(--border-default); */
}

.sidebar__tag-item {
  background-color: var(--action-neutral);
  border-radius: 4px;
}

.sidebar__tag-item:hover {
  background-color: var(--action-neutral-hover);
  transition-duration: 0.2s;
}

.sidebar__tag-item button {
  padding: 5px 8px;
  cursor: pointer;
  color: var(--text-inverse);
}