.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  transition: transform 0.3s ease;
  border-right: 1px solid var(--border-default);
  background-color: var(--bg-sub);
  display: flex;
  flex-direction: column;
}

.sidebar__inner {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--text-primary);
  padding: 2rem;
  flex-grow: 1;
}

.sidebar__nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
}

.sidebar__header {
  border-bottom: 1px solid var(--border-default);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 2rem;
}

.sidebar__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar__logo-box {
  width: 32px;
  height: 32px;
  color: var(--text-inverse);
  background-color: var(--bg-inverse);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.2rem;
  position: relative;
}

.sidebar__logo-box::after {
  content: "D";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidebar__logo h1 {
  font-size: 26px;
}

.sidebar__menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
}

.sidebar__menu svg {
  font-size: 1.2rem;
}

.sidebar__menu-item a {
  display: flex;
  align-items: center;
  padding: 8px 1rem;
  gap: 7px;
  cursor: pointer;
  position: relative;
}

.sidebar__menu-item a:hover {
  transition-duration: 0.2s;
}

.sidebar__menu-item a.sidebar__active {
  color: var(--action-primary);
  font-weight: 600;
}

.sidebar__menu-item a.sidebar__active::before {
  transform: translateY(-50%) scaleY(1);
  background-color: var(--action-primary);
}

.sidebar__menu-item a::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%) scaleY(0);
  width: 4px;
  height: 50%;
  background-color: var(--action-primary);
  border-radius: 0 4px 4px 0;
  transition: transform 0.2s ease;
}

.sidebar__menu-item a:hover::before {
  transform: translateY(-50%) scaleY(1);
}

.sidebar__menu-item button {
  display: flex;
  align-items: center;
  padding: 8px 1rem;
  gap: 5px;
  left: 2px;
  cursor: pointer;
  position: relative;
}

.sidebar__menu-item button:hover {
  transition-duration: 0.2s;
}

.sidebar__menu-item button.sidebar__active {
  color: var(--action-primary);
  font-weight: 600;
}

.sidebar__menu-item button.sidebar__active::before {
  transform: translateY(-50%) scaleY(1);
  background-color: var(--action-primary);
}

.sidebar__menu-item button::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%) scaleY(0);
  width: 4px;
  height: 50%;
  background-color: var(--action-primary);
  border-radius: 0 4px 4px 0;
  transition: transform 0.2s ease;
}

.sidebar__menu-item button:hover::before {
  transform: translateY(-50%) scaleY(1);
}

.logout-btn {
  font-size: inherit;
}

.sidebar__theme {
  display: flex;
  border-radius: 10px;
  border: 1px solid var(--border-default);
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--bg-surface);
  margin-top: 0.5rem;
}

.theme-toggle-btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 8px 0;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 10px;
  color: var(--text-primary);
}

.theme-toggle-btn.active {
  background-color: var(--bg-sub);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.theme-toggle-btn svg {
  font-size: 1rem;
}