.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  transition: transform 0.3s ease;
}

.sidebar__inner {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  height: 100%;
  padding: 30px 25px;
  background-color: var(--bg-inverse);
}

.sidebar__header {
  border-bottom: 1px solid var(--border-default);
  margin-bottom: 25px;
}

.sidebar__header>* {
  margin-bottom: 25px;
}

.sidebar__logo {
  font-size: 26px;
  margin-bottom: 30px;
}

.sidebar__profile {
  display: flex;
  justify-content: center;
}

.profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--action-neutral);
}

.menu {
  margin-bottom: 25px;
}

.menu__item a {
  display: block;
  padding: 8px 0;
  cursor: pointer;
}

.menu__item a:hover {
  background-color: var(--action-neutral-hover);
  transition-duration: 0.2s;
}

.sidebar__tag-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 25px;
  /* border-top: 1px solid var(--border-default); */
}

.sidebar__tag-item {
  background-color: var(--action-neutral);
  border-radius: 4px;
}

.sidebar__tag-item:hover {
  background-color: var(--action-neutral-hover);
  transition-duration: 0.2s;
}

.sidebar__tag-item button {
  padding: 5px 8px;
  cursor: pointer;
  color: var(--text-inverse);
}