.footer {
  border-top: 1px solid var(--border-default);
  height: 70px;
}

.footer__inner {
  text-align: center;
  color: var(--text-secondary);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: inherit;
}