.post__inner {
  margin: 30px 0;
  max-width: 1800px;
}

.post__filtering {
  display: flex;
  margin-bottom: 15px;
}

.post__filtering button {
  color: var(--text-disabled);
  font-size: 12px;
}

.post__filtering button.is-active {
  color: var(--text-primary);
  font-size: 12px;
}

.post__filtering button:not(:last-child)::after {
  content: "|";
  vertical-align: 1px;
  padding: 0 5px;
  color: var(--text-primary);
}

.post__none {
  margin-top: 50px;
  text-align: center;
}

.post__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  gap: 30px;
}

@media(max-width: 480px) {
  .post__list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.post__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--bg-base);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .04);
  transition: transform 0.2s;
}

.post__item:hover {
  transform: translateY(-4px);
}

.post__item a {
  display: block;
  height: 100%;
}

.post__thumbnail {
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  aspect-ratio: 2 / 1;
}

.post__thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.post__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px;
  min-width: 0;
}

.post__title {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 5px;
}

.post__title a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
}

.post__summary {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.25;
  height: 3.75em;
  font-size: 14px;
  color: var(--text-secondary);
  margin-bottom: 14px;
}

.post__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  color: var(--text-secondary);
  font-size: 12px;
}

.post__info-top {
  color: var(--text-disabled);
}

.post__info-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post__info-bottom span {
  color: var(--text-primary);
  font-weight: 500;
}

.post__info-item {
  margin-right: 5px;
}

/* .dot {
  display: inline-block;
  width: 2.5px;
  height: 2.5px;
  background-color: var(--text-disabled);
  border-radius: 50%;
} */

.post__tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.post__tag-item {
  background-color: var(--action-secondary);
  border-radius: 4px;
}

.post__tag-item button {
  display: block;
  color: var(--text-primary);
  padding: 4px 8px;
  border-radius: 4px;
}

.post__tag-item button:hover {
  background-color: var(--action-secondary-hover);
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination ul {
  display: flex;
  gap: 10px;
}

.pagination a {
  display: block;
  padding: 8px 12px;
  color: var(--text-primary);
  border-radius: 4px;
}

.pagination a:hover {
  background-color: var(--action-neutral);
  color: var(--text-inverse);
  transition-duration: 0.15s;
}

.pagination a.active {
  background-color: var(--action-neutral);
  color: var(--text-inverse);
}

/* 게시글 디테일 */

.post-detail {
  margin: 2rem 0;
  max-width: 800px;
  min-height: 500px;
}

.post-detail__meta {
  margin-bottom: 2rem;
}

.post-detail__title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.post-detail__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-detail__info-left {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.post-detail__info-left span:first-child {
  color: var(--text-primary);
  font-weight: 500;
  position: relative;
}

.post-detail__info-left span:first-child::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 2px;
  top: 50%;
  right: -8px;
  transform: translateY(-50%);
  border-radius: 50px;
  background-color: var(--bg-inverse);
}

.post-detail__info-left span:last-child {
  color: var(--text-secondary);
}

.post-detail__info-right button {
  border-radius: 20px;
  background-color: var(--bg-base);
  padding: 0.4rem 1.2rem;
  border: 1px solid var(--action-primary);
  color: var(--action-primary);
  line-height: 1;
  font-size: 1rem;
}

.post-detail__info-right button:hover {
  color: var(--action-secondary);
  background-color: var(--action-primary-hover);
}

.post-detail__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.post-detail__tags li a {
  display: inline-block;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  color: var(--action-primary);
  background-color: var(--action-secondary);
}

.post-detail__content {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 3rem;
}

.post-detail__delete {
  display: flex;
  align-items: center;
  justify-content: end;
}

.post-detail__delete button {
  font-size: inherit;
  color: var(--color-red);
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--color-red);
  transition: all 0.3s;
}

.post-detail__delete button:hover {
  color: var(--text-inverse);
  background-color: var(--color-red);
}

/* post-create */
.post-create {
  padding: 0 30px;
  padding-top: 30px;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}

.post-create__form {
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
  flex: 1;
}

.post-create__title {
  display: block;
  width: 100%;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  resize: none;
  border-bottom: 1px solid var(--border-default);
  padding-bottom: 1.2rem;
  outline: none;
}

.post-create__tagBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.post-create__tags {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.post-create__tag a {
  display: inline-block;
  background-color: var(--action-secondary);
  padding: 0.4rem 1rem;
  color: var(--action-primary);
  border-radius: 20px;
  cursor: pointer;
}

.post-create__tagBox input {
  font-size: 1.2rem;
}

.post-create__content {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.post-create__content .mdxeditor-toolbar {
  padding: 20px 0 !important;
  overflow: hidden;
  background-color: var(--bg-surface);
}

.post-create__content .mdxeditor-root-contenteditable {
  overflow-y: scroll;
}

.post-create__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-create__bottom a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.post-create__bottom a svg {
  font-size: 1.2rem;
}

.post-create__publish {
  font-size: 1rem;
  background-color: var(--action-primary);
  padding: 7px 15px;
  border-radius: 3px;
  color: var(--text-inverse);
}