.post__inner {
  padding: 50px;
  max-width: 1800px;
}

.post__filtering {
  display: flex;
  padding: 15px 0;
}

.post__filtering button {
  color: var(--text-disabled);
  font-size: 12px;
}

.post__filtering button.is-active {
  color: var(--text-primary);
  font-size: 12px;
}

.post__filtering button:not(:last-child)::after {
  content: "|";
  vertical-align: 1px;
  padding: 0 5px;
  color: var(--text-primary);
}

.post__none {
  margin-top: 50px;
  text-align: center;
}

.post__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 32px;
  overflow: hidden;
}

.post__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--bg-base);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .04);
}

.post__thumbnail {
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  aspect-ratio: 2 / 1;
}

.post__thumbnail>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}



.post__content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 0;
}

.post__title {
  width: 100%;
  margin-top: -4px;
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.post__title a {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.post__info {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-secondary);
  font-size: 14px;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: var(--action-neutral);
  border-radius: 50%;
}

.post__summary {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.25;
}

.post__tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.post__tag-item {
  background-color: var(--action-secondary);
  border-radius: 4px;
}

.post__tag-item button {
  display: block;
  color: var(--text-primary);
  padding: 4px 8px;
  border-radius: 4px;
}

.post__tag-item button:hover {
  background-color: var(--action-secondary-hover);
}

.pagination {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.pagination ul {
  display: flex;
  gap: 10px;
}

.pagination a {
  display: block;
  padding: 8px 12px;
  color: var(--text-primary);
  border-radius: 4px;
}

.pagination a:hover {
  background-color: var(--action-neutral);
  color: var(--text-inverse);
  transition-duration: 0.15s;
}

.pagination a.active {
  background-color: var(--action-neutral);
  color: var(--text-inverse);
}