.post__inner {
  padding: 50px;
  max-width: 1800px;
}

.post__filtering {
  display: flex;
  padding: 15px 0;
}

.post__filtering button {
  color: var(--text-disabled);
  font-size: 12px;
}

.post__filtering button.is-active {
  color: var(--text-primary);
  font-size: 12px;
}

.post__filtering button:not(:last-child)::after {
  content: "|";
  vertical-align: 1px;
  padding: 0 5px;
  color: var(--text-primary);
}

.post__none {
  margin-top: 50px;
  text-align: center;
}

.post__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 32px;
}

.post__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--bg-base);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .04);
  transition: transform 0.2s;
}

.post__item:hover {
  transform: translateY(-4px);
}

.post__item a {
  display: block;
  height: 100%;
}

.post__thumbnail {
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  aspect-ratio: 2 / 1;
}

.post__thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.post__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px;
  min-width: 0;
}

.post__title {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 5px;
}

.post__title a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
}

.post__summary {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.25;
  height: 3.75em;
  font-size: 14px;
  color: var(--text-secondary);
  margin-bottom: 14px;
}

.post__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  color: var(--text-secondary);
  font-size: 12px;
}

.post__info-top {
  color: var(--text-disabled);
}

.post__info-bottom {
  display: flex;
  justify-content: space-between;
}

.post__info-bottom span {
  color: var(--text-primary);
  font-weight: 500;
}

.post__info-item {
  margin-right: 5px;
}

/* .dot {
  display: inline-block;
  width: 2.5px;
  height: 2.5px;
  background-color: var(--text-disabled);
  border-radius: 50%;
} */

.post__tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.post__tag-item {
  background-color: var(--action-secondary);
  border-radius: 4px;
}

.post__tag-item button {
  display: block;
  color: var(--text-primary);
  padding: 4px 8px;
  border-radius: 4px;
}

.post__tag-item button:hover {
  background-color: var(--action-secondary-hover);
}

.pagination {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.pagination ul {
  display: flex;
  gap: 10px;
}

.pagination a {
  display: block;
  padding: 8px 12px;
  color: var(--text-primary);
  border-radius: 4px;
}

.pagination a:hover {
  background-color: var(--action-neutral);
  color: var(--text-inverse);
  transition-duration: 0.15s;
}

.pagination a.active {
  background-color: var(--action-neutral);
  color: var(--text-inverse);
}

/* 게시글 디테일 */

.post__detail {
  padding: 50px;
  max-width: 800px;
}