 @media (max-width: 980px) {
   .wrap {
     margin: 0;
   }

   .sidebar {
     transform: translateX(-100%);
     z-index: 1051;
   }

   .sidebar.is-open {
     transform: translateX(0);
   }

   .header__inner .hamburger {
     display: block;
   }
 }

 @media (max-width: 760px) {
   .header__logo {
     font-size: 24px;
   }

   .header__subtitle {
     font-size: 14px;
   }

   .post__inner {
     padding-left: 30px;
     padding-right: 30px;
   }
 }

 @media (max-width: 480px) {
   .header__intro {
     padding: 0 10px;
   }

   .header__logo {
     font-size: 20px;
   }

   .header__subtitle {
     font-size: 12px;
   }

   .header__inner .hamburger {
     left: 18px;
   }

   .header__inner .hamburger span {
     width: 20px;
   }

   .header__inner .hamburger span::before {
     width: 20px;
   }

   .header__inner .hamburger span::after {
     width: 20px;
   }

   .post__inner {
     padding-left: 15px;
     padding-right: 15px;
     overflow: hidden;
   }


   .post__thumbnail {
     width: 90px;
     height: 90px;
   }

   .post__title {
     font-size: 20px;
   }

   .footer__content {
     font-size: 12px;
   }
 }